#### Add your code below following the instructions given in the course

In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Demonstrate examples of simple arithmetic operations

In [ ]:
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn

In [ ]:
| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This a simple arithmetic expression to multiply then add integers

(3*6)+5

23

In [5]:
# This will convert 200 minutes to hours by dividing by 60 seconds

200 / 60

3.3333333333333335

In [4]:
## Author (Brayan Cartagena)